<html>
    <head>
        <title>TEST Handlebars</title>
    </head>
    <body>
        <div class="entry">
            <h1>TEST Handlebars</h1>
            <div class="body">
                <ul>
                    {{#each users}}
                        <li>{{@key}}: {{this}}</li>
                    {{/each}}
                </ul>
                {{body}}
            </div>
        </div>
    </body>
</html>
